<% content_for :fluid do %>
<div id="home">
  <section id="intro">

  <h1>Build your mobile-optimized restaurant website!</h1>
  <h2>Showcase your menus and social media feeds online.</h2>

  <div id="action">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.input :email, :placeholder => 'Email', :label => false, :autocomplete => 'off' %></div>

    <div><%= f.input :password, :placeholder => 'Password', :label => false, :autocomplete => 'off' %></div>

    <%= f.submit 'Create website now' %>
    <p>Free trial. Setup in minutes.</p>
  <% end %>
  </div>
  </section>

  <div class="container">
  <section>
    <div class="row">
    <article class="span4">
      <h3>Display your social media feeds.</h3>
      <p>Keep your website updated with beautiful photos from customers that use Instagram.</p>
    </article>
    <article class="span4">
      <h3>Feature your menus.</h3>
      <p>Promote phone orders and reservations with online menus.</p>
    </article>
    <article class="span4">
      <h3>Mobile responsive.</h3>
      <p>Optimize your web presence for mobile, tablet, and other devices.</p>
    </article>
  </div>
  </section>
</div>

  <section class="red">
    <h3>Showcase your restaurant on any device.</h3>
  </section>
  <section id="demo1">
    <a href="http://www.wespot.co/places/5"><img src="https://s3-us-west-1.amazonaws.com/wespot/Wespot-small.jpg"/></a>
  </section>
  <section class="red">
    <h3>Feature your menus to promote phone orders and reservations.</h3>
  </section>
  <section id="demo2">
    <img src="https://s3-us-west-1.amazonaws.com/wespot/Wespot-menu.jpg"/>
  </section>

  <section class="red">
    <h3>Give your restaurant web presence instant credibility and usability.</h3>
    <button><%= link_to "Create website now", new_user_registration_path %></button>
  </section>

  <footer class="footer">
    <div class="container">
      <small>
        <%= link_to 'weSpot', root_path %>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>

<% end %>
