<% provide(:title, 'Customize Menu') %>

<%= render 'subnav' %>

<%# link_to 'Customize Menu', edit_menu_path(@menu) %>

<div class="row">
<h1><%= @menu.name %></h1>


<div class="span3">
  <div class="panel">
    <h3>Menu Sections</h3>
    <table class="table table-striped">
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td style="width:75px;"><a href="#categoryModal<%=category.id%>" data-toggle="modal">Edit</a> |
      <%= link_to 'Delete', category, method: :delete,  data: { confirm: "You sure?" } %></td>
    </tr>
    <tr>
    <div id="categoryModal<%=category.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
  <div class="modal-header">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">×</a>
    <h3 id="editCategoryModalLabel">Edit Section</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for [@menu, category] do |f| %>
  <% if @menu.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label: 'Menu Section' %>

  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    <%= f.button :submit, "Edit", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
</tr>

    <% end %>
  </table>
    <%= simple_form_for [@menu, @menu_category] do |f| %>
      <%= f.input :name, label: false %>
      <%= f.button :submit, "Add Menu Section" %>
    <% end %>
  </div>
</div>

<div class="span9">
  <div class="panel">
    <h3>Dishes</h3>

    <% @categories.each do |category| %>
    <table class="table table-striped">

      <tr>
        <th colspan="4"><strong><%= category.name %></strong>
        </th>
      </tr>

      <% category.dishes.each do |dish| %>
      <tr>
        <td><%= dish.name %><br/>
        <em><%= dish.description %></em></td>
        <td style="width:10%;"><%= number_to_currency(dish.price_in_dollars) %></td>
        <td style="width:75px;"><a href="#editDishModal<%=dish.id%>" data-toggle="modal">Edit</a> |
          <%= link_to 'Delete', [category, dish], method: :delete,  data: { confirm: "You sure?" } %></td>
      </tr>
      <tr>

    <div id="editDishModal<%=dish.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editDishModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="editDishModalLabel">Edit Dish</h3>
      </div>
      <div class="modal-body">
        <%= simple_form_for [category, dish] do |f| %>
          <% if @menu.errors.any? %>
            <div class="error_messages">
              <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
              <ul>
              <% @menu.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :name, label: 'Menu Dish' %>
          <%= f.input :description, :input_html => { :rows => 3 } %>
          <%= f.input :price_in_dollars %>
        </div>
        <div class="modal-footer">
          <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
          <%= f.button :submit, "Edit", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </tr>
      <% end %>
  </table>

  <a href="#newDishModal<%=category.id%>" class='btn' data-toggle="modal">Add Dish</a></td>

  <div id="newDishModal<%=category.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newDishModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="newDishModalLabel">New Dish</h3>
    </div>

    <div class="modal-body">
    <%= simple_form_for [category, @dish] do |f| %>
      <% if @menu.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
        <ul>
        <% @menu.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :name %>
      <%= f.input :description, :input_html => { :rows => 3 } %>
      <%= f.input :price_in_dollars %>
      </div>

      <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
        <%= f.button :submit, "Add Dish", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

    <% end %>
  </div>
</div>

</div>


