<% provide(:title, 'Customize Menu') %>

<%= render 'subnav' %>

<h2>Customize Menu</h2>

<%= simple_form_for @menu do |f| %>
  <% if @menu.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, label: 'Menu Name' %>

  <%= f.button :submit, "Add Menu" %>

<% end %>