<div id="place-nav-bg"></div>
<div id="place-nav">
  <div id="place-title">
    <%# image_tag 'http://www.izakayamoku.com/images/Logo_Izakaya_blk_lg.jpg' %>
    <h1><%= link_to @place.name, place_path %></h1>
  </div>
  <nav id="place-links">
    <ul class="place-main">
      <li><a href ="#" id="toggleGrid">Photo</a></li>
      <li><%= link_to 'Menu', menu_place_path %></li>
      <li><a href ="#">Contact</a></li>
    </ul>
  </nav>

  <div class="place-info">
    <div class="cta"><a href="#">Make Reservation</a></div>

    <div class="place-contact">
      <div class="place-hours">
        <%= render 'hours' %>
      </div>
      <div>Accepts Visa, MasterCard, Amex.</div>
      <div><%= link_to number_to_phone(@place.phone), "tel:+" + @place.phone if @place.phone %></div>
      <div><%= link_to @place.address, 'http://maps.google.com/?q='+ @place.address, :target => "_blank" if @place.address %></div>
    </div>
  </div>
</div>
