<% provide(:title, 'Customize') %>
<h2>Customize</h2>

<%= render 'menus/subnav' %>

<%= simple_form_for @place, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :coverphoto_cache %>

  <%= f.input :name, label: 'Restaurant Name' %>
  <%= f.input :instagram_tag %>
  <%= f.input :address %>
  <%= f.input :phone %>

  <div class="control-group">
    <%= f.label :coverphoto, "Cover Photo", :class => 'control-label' %>
      <%= f.file_field :coverphoto %>
  </div>

  <div class="control-group">
    <%= f.label :remote_coverphoto_url, "or image URL", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remote_coverphoto_url %>
    </div>
  </div>

<label>Opening Hours</label>
<table>
  <tbody>
  <% @place.business_hours.each_with_index do |hour, index| %>
    <%= f.simple_fields_for :business_hours, hour do |b| %>
      <%= b.hidden_field :day, :value => index %>
      <tr>
        <td><strong><%= ApplicationHelper::WeekDay[index] %></strong></td>
        <td><%= b.input_field :open_time, :as => :hour, :label => false %> to
        <%= b.input_field :close_time, :as => :hour, :label => false %></td>
        <td><span class="split-toggle"><%= link_to "Add Split Hours", '#' %></span></td>

      </tr>
    <% end %>

  <% end %>
  </tbody>
</table>

  <%= f.submit "Customize" %>

<% end %>

<script>
  $('.split-toggle').click(function(){
    var dataid = $('a.add_fields').attr('data-id');
    var id = 'place_business_hours_attributes_'+dataid+'_open_time';
    $('#'+this.id).hide();
  });
</script>