<% provide(:title, 'Customize') %>
<h2>Customize</h2>


<%= simple_form_for @place, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :coverphoto_cache %>

  <%= f.input :name, label: 'Restaurant Name' %>
  <%# f.input :instagram_tag %>

  <div class="control-group">
    <%= f.label :coverphoto, "Cover Photo", :class => 'control-label' %>
      <%= f.file_field :coverphoto %>
  </div>

  <div class="control-group">
    <%= f.label :remote_coverphoto_url, "or image URL", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remote_coverphoto_url %>
    </div>
  </div>

  <%= f.button :submit, "Customize" %>

<% end %>

<%= link_to 'Add Menus', place_menus_path(@place, @menu) %>
