<% provide(:title, 'Customize') %>
<h2>Customize</h2>

<%= render 'menus/subnav' %>

<%= simple_form_for @place, :html => {:multipart => true} do |f| %>
  <%= f.hidden_field :coverphoto_cache %>

  <%= f.input :name, label: 'Restaurant Name' %>
  <%= f.input :instagram_tag %>

  <div class="control-group">
    <%= f.label :coverphoto, "Cover Photo", :class => 'control-label' %>
      <%= f.file_field :coverphoto %>
  </div>

  <div class="control-group">
    <%= f.label :remote_coverphoto_url, "or image URL", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remote_coverphoto_url %>
    </div>
  </div>

<label>Opening Hours</label>
<table>
  <tbody>
  <% @place.business_hours.each_with_index do |hour, index| %>
    <%= f.simple_fields_for :business_hours, hour do |b| %>
      <tr>
        <td><%= ApplicationHelper::WeekDay[index] %></td>
        <td><%= b.input :open_time, :as => :hour, :label => false %></td>
        <td><%= b.input :close_time, :as => :hour, :label => false %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

  <%= f.button :submit, "Customize" %>

<% end %>
